.Button {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: white;
	outline: none;
	cursor: pointer;
	font: inherit;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
}

.Button:first-of-type {
	margin-left: 0;
	padding-left: 0;
}

/*? :disabled is a pseudo-selector for the button html element */
/*? which styles it when the button is disabled */
.Button:disabled {
	color: #ccc;
	cursor: not-allowed;
}

.Success {
	color: #5c9210;
}

.Danger {
	color: #944317;
}

@media (max-width: 499px) {
	.Button {
		padding: 2px;
		margin: 2px;
	}
}
